        /* Font awosome link */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

        /*  ==============================================
                         Reuseable code
         ============================================== */
        :root {
            --green: #43e8e8;            
            --dark-color: #17d5d5;
            --new-green: #74e1a1;
            --black: #444;
            --light-color: #666;
            --border: .1rem solid rgba(0, 0, 0, .1);
            --border-hover: .1rem solid var(--black);
            --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        }

        * {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-decoration: none;
            transition: all .2s linear;
            transition: width none;
        }

        html {
            font-size: 62.5%;
            overflow-x: hidden;
            scroll-padding-top: 5rem;
            scroll-behavior: smooth;
        }

        html::-webkit-scrollbar {
            width: 1rem;
        }

        html::-webkit-scrollbar-track {
            background: transparent;
        }

        html::-webkit-scrollbar-thumb {
            background: var(--black);
        }

        section {
            padding: 5rem 9%;
        }

        .heading {
            text-align: center;
            margin-bottom: 2rem;
            position: relative;
        }

        .heading::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: .01rem;
            background: rgba(0, 0, 0, .1);
            z-index: -1;
        }

        .heading span {
            font-size: 3rem;
            padding: .5rem 2rem;
            color: var(--black);
            background: #fff;
            border: var(--border);
        }

        .btn {
            margin-top: 1rem;
            display: inline-block;
            padding: .9rem 3rem;
            border-radius: .5rem;
            color: #fff;
            background: var(--green);
            font-size: 1.7rem;
            cursor: pointer;
            font-weight: 500;
        }

        .btn:hover {
            background: var(--dark-color);
        }


        /*  ==============================================
                  Navigation Bar section Starts
         ============================================== */

        .header .header-1 {
            background: #fff;
            padding: 1.5rem 3%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header .header-1 .logo {
            font-size: 2.5rem;
            font-weight: bolder;
            color: var(--black);
            text-transform: uppercase;
        }

        .header .header-1 .logo i {
            color: var(--green);
        }

        .navbar-lists {
            display: flex;
            gap: 2.8rem;
        }

        .navbar-link:link,
        .navbar-link:visited {
            display: inline-block;
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--black);
            transition: color 0.3s linear;
        }

        .mobile-navbar-btn {
            display: none;
            background-color: transparent;
            cursor: pointer;
            border: none;
        }

        .mobile-nav-icon[name="close"] {
            display: none;
        }

        .header .header-1 .icons div {
            font-size: 2.5rem;
            margin-left: 1.5rem;
            color: var(--black);
            cursor: pointer;
            display: none;
        }

        .header .navbar a {
            color: var(--black);
            display: inline-block;
            padding: 1.2rem;
            font-size: 1.9rem;
        }

        .header .navbar a:hover {
            color: var(--green);
        }

        .header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        #search-btn {
            display: none;
        }


        /*  ==============================================
                  Home section start
         ============================================== */


        .home {
            background: url(../image/banner-bg.jpg) no-repeat;
            background-size: cover;
            background-position: center;
            margin-top: 8rem;
        }

        .home .row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5rem;
            padding-top: 3rem;
        }

        .home .row .content {
            flex: 1 1 42rem;
        }

        .home .row .books-slider {
            flex: 1 1 42rem;
            text-align: center;
            margin-top: 2rem;
        }

        .home .row .books-slider a img {
            height: 25rem;
            margin-bottom:10px ;
        }

        .home .row .books-slider a:hover img {
            transform: scale(.8);
        }

        .home .row .books-slider .stand {
            width: 100%;
            margin-top: -2rem;
        }

        .home .row .content h3 {
            color: var(--black);
            font-size: 4.5rem;
        }

        .home .row .content p {
            color: var(--light-color);
            font-size: 1.4rem;
            line-height: 2;
            padding: 1rem 0;
        }


         /*  ==============================================
                  E-book section start
         ============================================== */

        .featured .featured-slider .box {
            margin: 2rem 0;
            position: relative;
            overflow: hidden;
            border: var(--border);
            text-align: center;
        }

        .featured .featured-slider .box:hover {
            border: var(--border-hover);
        }

        .featured .featured-slider .box .image {
            padding: 1rem;
            background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
        }

        /* .featured .featured-slider .box:hover .image {
            transform: translateY(6rem);
        } */

        .featured .featured-slider .box .image img {
            height: 25rem;
        }

        .featured .featured-slider .box .icons {
            border-bottom: var(--border-hover);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: #fff;
            z-index: 1;
            transform: translateY(-105%);
        }

        .featured .featured-slider .box:hover .icons {
            transform: translateY(0%);
        }

        .featured .featured-slider .box .icons a {
            color: var(--black);
            font-size: 2.2rem;
            padding: 1.3rem 1.5rem;
        }

        .featured .featured-slider .box .icons a:hover {
            background: var(--green);
            color: #fff;
        }

        .featured .featured-slider .box .content {
            background: #eee;
            padding: 1.5rem;
        }

        .featured .featured-slider .box .content h3 {
            font-size: 2rem;
            color: var(--black);
        }

        .featured .featured-slider .box .content .price {
            font-size: 2.2rem;
            color: var(--black);
            padding-top: 1rem;
        }

        .featured .featured-slider .box .content .price span {
            font-size: 1.5rem;
            color: var(--light-color);
            text-decoration: line-through;
        }


        .swiper-button-next,
        .swiper-button-prev {
            border: var(--border-hover);
            height: 4rem;
            width: 4rem;
            color: var(--black);
            background: #fff;
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 2rem;
        }

        .swiper-button-next:hover,
        .swiper-button-prev:hover {
            background: var(--black);
            color: #fff;
        }

        
         /*  ==============================================
                  Subscribe section start
         ============================================== */


        .newsletter {
            background: url(../image/letter-bg.jpg) no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .newsletter form {
            max-width: 45rem;
            margin-left: auto;
            text-align: center;
            padding: 5rem 0;
        }

        .newsletter form h3 {
            font-size: 2.2rem;
            color: #fff;
            padding-bottom: .7rem;
            font-weight: normal;
        }

        .newsletter form .box {
            width: 100%;
            margin: .7rem 0;
            padding: 1rem 1.2rem;
            font-size: 1.6rem;
            color: var(--black);
            border-radius: .5rem;
            text-transform: none;
        }


    


        /*  ==============================================
                  contact me section start
         ============================================== */

        /* .contact .contact-slider */
         .boxx {
            border: var(--border);
            padding: 2rem 0;
            text-align: center;
        }
    
      

        .contact .contact-slider .box:hover {
            border: var(--border-hover);
        }

        .boxx img {
            height: 20rem;
            width: 20rem;
            border-radius: 50%;
            object-fit: cover;
        }

         .boxx h3 {
            color: var(--black);
            font-size: 3.2rem;
            padding: 0.5rem 0;
        }

         .boxx p {
            color: var(--light-color);
            font-size: 2rem;
            padding: 1rem 0;
            line-height: 2;
        }

        .f-address div {
            display: flex;
            flex-direction: column;
            gap: 1.8rem;
        }
        .f-add {
            font-size: 1.8rem;
            color: #7b7474;
            text-transform: capitalize;
            margin-bottom: 1.8rem;
            font-style: normal;
        }
        .address{
            color: var(--black);
        }
        .f-add a {
            font-size: 1.7rem;
            color: var(--black);
            text-transform: capitalize;
            font-style: normal;
        }
        
        ion-icon {
            margin-right: 1rem;
            color: var(--green);
        }



        /*  ==============================================
                  Footer section start
         ============================================== */

        .footer .box-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            padding-bottom: 0rem;
            /* gap:0rem; */
        }
        #footer{
            margin-top: -4rem;
        }

        .footer .box-container .box h3 {
            font-size: 3.2rem;
            color: var(--black);
            padding: 2rem 0;
            align-items: center;
            text-align: center;
        }

        .footer .box-container .box a {
            display: block;
            font-size: 2.4rem;
            color: var(--light-color);
            padding: 1rem 0;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .footer .box-container .box a i {
            color: var(--green);
            padding-right: .5rem;
        }


        .footer .box-container .box a:hover i {
            padding-right: 2rem;
        }

        .footer .share {
            padding: 0 0 3rem 0;
            text-align: center;
        }

        .footer .share a {
            height: 7rem;
            width: 7rem;
            line-height: 7rem;
            font-size: 2rem;
            color: #fff;
            background: var(--green);
            margin: 2rem .3rem;
            border-radius: 50%;
        }

        .footer .share a:hover {
            background: var(--black);
        }

        .footer .credit {
            border-top: var(--border);
            margin-top: 0rem;
            padding: 0 1rem;
            padding-top: 2.5rem;
            font-size: 2.5rem;
            color: var(--light-color);
            text-align: center;
        }

        .footer .credit span {
            color: var(--green);
        }


        /*  ==============================================
                  Media section start
         ============================================== */

        @media (max-width:991px) {

            html {
                font-size: 55%;
            }

            .header {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1000;

            }

            .header .header-1 {
                padding: 2rem;
            }

            section {
                padding: 3rem 2rem;
            }
        }

        @media (max-width:800px) {

            .navbar-lists {
                font-size: 2rem;
            }

        }

        @media (max-width:768px) {

            html {
                scroll-padding-top: 0;
            }

            body {
                padding-bottom: 6rem;
            }


            .header {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1000;

            }


            .mobile-navbar-btn {
                display: block;
                z-index: 9999;
                color: #212529;
            }

            .mobile-nav-icon {
                width: 4rem;
                height: 4rem;
                color: #212529;
                padding-left: 8px;

            }

            .navbar {
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                background-color: var(--green);
                color: var(--black);
                display: flex;
                justify-content: center;
                align-items: center;

                transform: translateY(100%);
                transition: all 0.5s linear;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                z-index: 9999;
            }

            .navbar-lists {
                flex-direction: column;
                align-items: center;
                gap: 0px;
            }

            .navbar .navbar-lists .navbar-link:link,
            .navbar .navbar-lists .navbar-link:visited {
                font-size: 3.2rem;
            }

            .active .navbar {
                transform: translateX(0%);
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }

            .active .mobile-navbar-btn .mobile-nav-icon[name="menu"] {
                display: none;
            }

            .active .mobile-navbar-btn .mobile-nav-icon[name="close"] {
                display: block;
            }

         
            .header .header-1 {
                box-shadow: var(--box-shadow);
                position: relative;
            }

            .header .header-1 .search-form {
                position: absolute;
                top: -115%;
                right: 2rem;
                width: 90%;
                box-shadow: var(--box-shadow);
            }

            .header .header-1 .search-form.active {
                top: 115%;
            }

            .home {
                margin-top: 8rem;
            }

            .home .row .content {
                text-align: center;
            }

            .home .row .content h3 {
                font-size: 3.5rem;
            }

            .newsletter {
                background-position: right;
            }

            .newsletter form {
                margin-left: 0;
                max-width: 100%;
            }

        }

        @media (max-width:450px) {

            html {
                font-size: 50%;
            }

        }